fastapi==0.115.12
uvicorn[standard]==0.34.2
numpy==2.2.5
networkx==3.4.2
shapely==2.1.0
requests==2.32.3
xarray==2025.3.1
scipy==1.15.2
cfgrib==0.9.14.1
eccodes==2.38.3
geopandas==1.0.1
netcdf4==1.7.2
